extends layout 

block content
    h1=title
    form(action="/new", method="post")
        p
            | User: 
            input(type="text", name="messageUser", value='')
            |          Message: 
            input(type="text", name="messageText", value='')
        input(type='submit', value='Submit')